.card{
    background-image: url("background2.png");
    /*background-color: tan;*/
    display: grid;
    border-style: solid;
    width: 150px;
    height: 250px;
    grid-template-rows: 1fr 1fr 5fr;
    margin: 10px;
    border-radius: 5px;
}

.card:hover{
    background-image: url("background4.png");
}

.card__name{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
}

.card__species{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2px;
}

.card__originName{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2px;
    text-align: center;
    font-style: italic;
}

.card__logo{
    width: 135px;
    margin: 5px;
}