.navigation{
    display: grid;
    border-bottom-style: solid;
    border-top-style: solid;
    height: 50px;
    grid-template-columns: 1fr 3fr 3fr 3fr;
}

.navigation__home{
    display: flex;
    justify-content: center;
    align-self: center;
}

.navigation__article{
    display: flex;
    justify-content: center;
    align-self: center;
}

.navigation__random{
    display: flex;
    justify-content: center;
    align-self: center;
}

.navigation__gallery{
    display: flex;
    justify-content: center;
    align-self: center;
}
